

.tweetSearcher{
  display: flex;
  justify-content: center;
}

.searchForm{
  display: flex;
  justify-content: center;
}

.contents{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.twitter-tweet .twitter-tweet-rendered {
  display: flex; 
  max-width: 550px; 
  width: 120% !important; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

/* .center-please {
  & > .tweet-center {
    & > div {
      & > .twitter-tweet{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
} */